@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Style sheet starts here. */

.container {
  background-color: #1f1f1f;
}

.wrapper {
  width: 1040px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  color: #fff;
}

.wrapper a {
  text-decoration: none;
  color: #fff;
}

/* Header section starts here. */

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #292929;
}

header h1 {
  font-size: 33px;
  font-weight: 901;
  letter-spacing: 2px;
  transform: translateY(-100%);
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  font-size: 12px;
  letter-spacing: 3px;
  margin-right: 30px;
  position: relative;
}

header nav ul li:last-child {
  margin: 0;
}

header .wrapper nav ul li a {
  color: #dadada;
}

header nav ul li::after {
  content: '';
  border-bottom: 3px solid #8fd0a6;
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 98%;
  transition: all 0.5s;
  opacity: 0;
}

header nav ul li:hover::after {
  opacity: 1;
}

/* Header section ends here. */
/* Main section starts here. */

/* Image navigation section starts here. */

.image_navigation .wrapper {
  padding: 20px;
}

.image_navigation ul {
  display: flex;
  list-style: none;
}

.image_navigation ul li {
  text-transform: capitalize;
  font-size: 13px;
  margin-right: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 8px 15px;
}

.image_navigation ul li:hover {
  background-color: #8fd0a6;
  transition: 0.5s;
}

/* Image navigation section ends here. */
/* All image window section starts here. */

.all_images_window .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
}

.all_images_window figure img {
  width: 260px;
  height: 200px;
}

/* All image window section ends here. */
/* Main section ends here. */

/* Footer section starts here. */

footer .wrapper .footer_top {
  display: flex;
  justify-content: space-between;
}

footer .wrapper .footer_top {
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
  margin: 35px 0 30px 0;
}

footer .wrapper ul {
  list-style: none;
}

footer .wrapper .footer_top div {
  flex-basis: 23%;
}

footer .wrapper .footer_top div h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0 20px 0;
}

.text_widget p {
  margin-bottom: 20px;
}

.text_widget p,
.recent_post ul li a {
  color: #7e7e7e;
  font-size: 12px;
}

.text_widget p::first-letter {
  text-transform: uppercase;
}

.recent_post ul li {
  padding: 10px 0;
  border-bottom: 1px solid #323232;
}

.recent_post ul li:last-child {
  border: none;
}

.recent_post ul li a {
  text-transform: capitalize;
}

.popular_tags ul {
  display: flex;
  flex-wrap: wrap;
}

.popular_tags ul li {
  background-color: #8fd0a6;
  padding: 7px 12px;
  font-size: 12px;
  margin: 0 7px 7px 0;
}

.popular_tags ul li:hover {
  transition: 0.5s;
  background-color: #ccc;
}

.gallery_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 10px;
}

.gallery_img figure img {
  height: 53px;
  width: 53px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer_bottom p {
  font-size: 12px;
  color: #919191;
  text-transform: capitalize;
}

.footer_bottom ul {
  display: flex;
}

footer .footer_bottom .icon {
  color: transparent;
  font-family: 'Font Awesome 5 Brands';
  background-color: #fff;
  padding: 5px;
  border-radius: 100px;
  margin-right: 10px;
}

footer .footer_bottom .icon:hover::after {
  color: #323232;
  transition: all 0.5s;
}

.google_plus::after {
  content: '\f0d5';
  color: #a7a7a7;
}

.twitter::after {
  content: '\f099';
  color: #a7a7a7;
}

.pinterest::after {
  content: '\f231';
  color: #a7a7a7;
}

.dribble::after {
  content: '\f17d';
  color: #a7a7a7;
}

.linkedin::after {
  content: '\f0e1';
  color: #a7a7a7;
}

.facebook::after {
  content: '\f39e';
  color: #a7a7a7;
}

/* Footer section ends here. */
/* Style sheet ends here. */

/* Responsive stylesheet starts here. */

@media only screen and (max-width: 1081px) {
  /* Header section starts here. */

  .wrapper {
    width: auto;
    flex-direction: column;
  }

  header .wrapper,
  header nav ul,
  .image_navigation ul,
  footer .wrapper .footer_top {
    flex-direction: column;
  }

  .all_images_window figure img {
    width: 120px;
    height: 85px;
  }

  .all_images_window .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Header section ends here. */
  /* Footer section starts here. */

  footer .wrapper .footer_top {
    align-items: center;
  }

  .text_widget,
  .popular_tags {
    padding: 0 10px;
  }

  .flickr_galery {
    margin-bottom: 40px;
  }

  /* Footer section ends here. */
}

@media only screen and (max-width: 360px) {
  .all_images_window .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_bottom {
    flex-direction: column;
  }

  .footer_bottom p {
    margin-bottom: 20px;
  }
}

/* Responsive stylesheet ends here. */